.Total {
    text-align: right;
}

.LabelOrder {
  font-size: .9em;
}


  table h1{
    font-size: 1.5em;
    color: #222;
  }
  table h2{font-size: .9em;}
  table h3{
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2em;
  }
  table p{
    font-size: .8em;
    color: #666;
    line-height: 1.2em;
  }
  table{
    width: 100%;
    border-collapse: collapse;
  }
  td{
    padding: 5px 0 5px 15px;
    border-bottom: 1px solid lightgray
  }
  .tabletitle{
    background: lightgray;
  }
  .Part{
      border-bottom: 1px solid #EEE;
    }
  
  .SubmitButton {
      background-color: lightgray;
      cursor: pointer;
      color: black;
      font-family: inherit;
      font-size: 1.2em;
      padding: 10px 20px;
      border: none;
      margin-top: 10px;
  }

    
  .SubmitButton:hover {
    background-color: rgb(28, 151, 34);
    color: white
}