input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .Total {
    text-align: right;
}

  table h1{
    font-size: 1.5em;
    color: #222;
  }
  table h2{font-size: .9em;}
  table h3{
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2em;
  }
  table p{
    font-size: .8em;
    color: #666;
    line-height: 1.2em;
  }
  table{
    width: 100%;
    border-collapse: collapse;
  }
  td{
    padding: 5px 0 5px 15px;
    border-bottom: 1px solid lightgray
  }
  .tabletitle{
    background: lightgray;
  }
  .Part{
      border-bottom: 1px solid #EEE;
    }
  
  