.OrderControl {
    padding-top: 5px;
    padding-bottom: 20px;
    width: 40%;
    margin: 40px auto auto auto;
}


  table h1{
    color: #222;
  }

  .tabletitle{
    background: lightgray;
  }

  
    
    